# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Production
build/
dist/
**/build/
**/dist/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

# Expo
.expo/
.expo-shared/
**/.expo/
**/.expo-shared/

# iOS
ios/Pods/
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android
android/app/build/
android/.gradle/
android/local.properties
*.apk
*.aab
*.keystore
!debug.keystore

# TypeScript
*.tsbuildinfo

# Expo Router: ignore compiled .js in app dir to avoid duplicate route errors
packages/*/app/**/*.js

# Supabase
.branches
.temp

.supabase_service_role_key
